<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600[x;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{name}}</p>
  <p>Your request to change the password has been accepted.</p>
  <p>Please click on the link below to choose a new password now:</p>
  <p>
    <a href="{{link}}">Reset my password</a>
    <p>Token: {{token}}</p>
  </p>
  <p>NOTE: This email will be expired in 2 hrs.</p>
  <p>Thanks! <br />
  <strong>GoBarber Team</strong></p>
</div>
